<!--<table id='board'
		  	<tr>
			  <td id='top_left'>1</td>
			  <td id='top_center'>2</td>
			  <td id='top_right'>3</td>
			</tr>
			<tr>  
			  <td id='middle_left'>4</td>
			  <td id='center'>5</td>
			  <td id='middle_right'>6</td>
			</tr>
			<tr>  
			  <td id='bottom_left'>7</td>
			  <td id='bottom_center'>8</td>
			  <td id='bottom_right'>9</td>
			</tr>  
</table>	-->