<div class="form-container">
	<p class="text1"><span class="text2"><%= current_player_name %> </span>is <%= current_player.marker %>. <span class="text2"><%= current_player_name %></span>, it is your turn. Please pick a valid spot on the board.</p>
</div>
