
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" href = "css/style.css">
    <link rel="stylesheet" href = "css/responsive.css" media="screen and (max-width: 900px)">
    
   
 <table id="board"
		  	<tr>
			  <td id="td">X</td>
			  <td id="td">X</td>
			  <td id="td">O</td>
			</tr>
			<tr>  
			  <td id="td">O</td>
			  <td id="td">X</td>
			  <td id="td">O</td>
			</tr>
			<tr>  
			  <td id="td">O</td>
			  <td id="td">O</td>
			  <td id="td">X</td>
			</tr>  
		  </table>	
<br><br><br>
<!--<div class="text">
	<p>Player One</span>, what is your name?</p>
	<form action="/player_1_name" method="post">
	    <input type="text" name="player_1" autofocus placeholder="Enter your name">
	    <input type="submit">
	</form>
</div>-->