<p>Let"s play Tic Tac Toe.
<br><br>

   
<table id="board"
	<tr>
   <td id="top_left">1</td>
   <td id="top_center">2</td>
	 <td id="top_right">3</td>
	</tr>
	<tr>  
	 <td id="middle_left">4</td>
	 <td id="center">5</td>
	 <td id="middle_right">6</td>
	</tr>
	<tr>  
	 <td id="bottom_left">7</td>
	 <td id="bottom_center">8</td>
	 <td id="bottom_right">9</td>
	</tr>  
</table>	
<br><br><br>
<div class="text">
	<p>Player One</span>, what is your name?</p>
	<form action="/player_1_name" method="post">
	    <input type="text" name="player_1" autofocus placeholder="Enter your name">
	    <input type="submit">
	</form>
</div>