<!DOCTYPE html>
<html lang='en'>

<head> 
  <title> Tic Tac Toe
       </title>

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" href = "css/style.css">
    <link rel="stylesheet" href = "css/responsive.css" media="screen and (max-width: 900px)">
    
 </head>   

      <body> 
   
	      <header>
	      
	      <ul>
	       <li> <a href = "/">HOME</a></li>
	       <li> <a href = "/history">HISTORY</a></li>
	       <li> <a href = "/rules">RULES</a></li>
		   <li> <a href = "/player_1_name">PLAY GAME</a></li>
	      </ul> 
	        
</header>

<%=yield%>



	</body>  

<footer> <p> <a href = "http://www.theonion.com" target = "blank">Super Awesome Tic Tac Toe</a>&copy; 2016</p>
 </footer>

