<!DOCTYPE html>
<html lang="en">

<head> 
  <title> Tic Tac Toe
       </title>

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" href = "css/style.css">
    <link rel="stylesheet" href = "css/responsive.css" media="screen and (max-width: 900px)">
    
</head>   

<style>
	 
	 
	 </style>
      <body> 

	 <table id="board"
		  	<tr>
			  <td id="td">X</td>
			  <td id="td">X</td>
			  <td id="td">O</td>
			</tr>
			<tr>  
			  <td id="td">O</td>
			  <td id="td">X</td>
			  <td id="td">O</td>
			</tr>
			<tr>  
			  <td id="td">O</td>
			  <td id="td">O</td>
			  <td id="td">X</td>
			</tr>  
		  </table>	

	

<%=yield%>



	</body>  

<footer> <p> <a href = "http://www.theonion.com" target = "blank">Super Awesome Tic Tac Toe</a>&copy; 2016</p>
 </footer>

