<div class="form-container">
	<p class ="text1"><span class="player-one"><%= player_1_name %></span> will be X. <span class="player-two">Player 2 </span>will be O</p>
	<br>

	<form action="choose_opponent" method="post">
	    <center><p class ="text1"><span class="player-one"><%= player_1_name %></span>, pick your poison:</p><br></center>
		<select autofocus name="player_2">
	        <option value="human">Human</option>
	        <option value="sequential_ai">Easy</option>
	        <option value="random_ai">Medium</option>
	        <option value="unbeatable_ai">Hard</option>
	    </select>
	    <input type="submit" value="Submit">
	</form>
</div>
