<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 4960388abfc4a39c018e749ec4557eeb70617d95
<div class="form-container">
	<p><%= player_1_name %> you will be X.</p>
	
	<form action='choose_opponent' method='post'>
	    <p>Player <span class="player-two">2</span> will be O<br>
		<br>
		<%= player_1_name %>, pick your poison:
		</p>
	    <select autofocus name='player_2'>
	        <option value='human'>Human</option>
	        <option value='sequential_ai'>Easy</option>
	        <option value='random_ai'>Medium</option>
	        <option value='unbeatable_ai'>Hard</option>
<<<<<<< HEAD
=======
=======
<div>
	<p class ="text"><%= player_1_name %> will be X. Player 2 will be O</p>
	<br>

	<form action="choose_opponent" method="post">
	    	<p class ="text"><%= player_1_name %>, pick your poison:</p><br>
		<select autofocus name="player_2">
	        <option value="human">Human</option>
	        <option value="sequential_ai">Easy</option>
	        <option value="random_ai">Medium</option>
	        <option value="unbeatable_ai">Hard</option>
>>>>>>> b7072ac7f2c310720d544748605790560610891e
>>>>>>> 4960388abfc4a39c018e749ec4557eeb70617d95
	    </select>
	    <input type="submit" value="Submit">
	</form>
</div>
