<div class="form-container">
	<p>Player Two, what is your name?</p>
	<form action="/player_2_name" method="post">
	    <input type="text" name="player_2" autofocus placeholder="Enter your name">
	    <input type="submit">
	</form>
</div>