<div class="form-container">
	<p class="text1"><span class="player-one">Player 1</span>, what is your name?</p>
	<form action="/player_1_name" method="post">
	    <input type="text" name="player_1" autofocus placeholder="Enter name">
	    <input type="submit">
	</form>
</div>
