

<div class="form-container">
	<p>Player <span class="player-one">1</span>, what is your name?</p>
	<form action="/player_1_name" method="post">
<<<<<<< HEAD
	    <input type="text" name="player_1" autofocus placeholder="Enter name">
=======
	    <input type="text" name="player_1" autofocus="autofocus" placeholder="Enter name">
>>>>>>> 4960388abfc4a39c018e749ec4557eeb70617d95
	    <input type="submit">
	</form>
</div>
