<div class="form-container">
	<p class="text1"><span class="player-two">Player 2</span>, what is your name?</p>
	<form action="/player_2_name" method="post">
	    <input type="text" name="player_2" autofocus placeholder="Enter name">
	    <input type="submit">
	</form>
</div>
