<div class="form-container">
	<p>Player One</span>, what is your name?</p>
	<form action="/player_1_name" method="post">
	    <input type="text" name="player_1" autofocus placeholder="Enter your name">
	    <input type="submit">
	</form>
</div>