<<<<<<< HEAD
<div class="form-container">
	<h1 id="results-header">It's a tie!</h1>
=======
<div class='form-container'>
	<h1 id='results-header'>It's a tie!</h1>
>>>>>>> 4960388abfc4a39c018e749ec4557eeb70617d95

	<p><a class="myButton" href='/'>Play Again</a></p>

	<!--<p><a class="myButton" href="/update_csv">Results</a></p>-->
</div>